/* general */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fredoka', sans-serif;
}

.debug{
  background-color: rgba(0, 0, 255, 0.25);
  border: 1px solid black;  
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

/* main */
.container{
  width: 70%;
  margin: 0 auto;
}

/* section top */
.container .top .title{
  font-size: 35px;
  font-weight: bold;
  color: #e53170;
}

.top{
  text-align: center;
}

/* section team cards */
.team-cards .card img{
  float: left;
  height: 110px;
}
